{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} ">
    {{ partial "sidebar.html" . }}
    <div class="content container homepage-intro">
      <h2><strong> Hello Global Netizen </strong></h2>
      <br>
      <p1>
        I read, I code and I love creating. I love startups and great products.
        I am an avid supporter of open source projects. In fact this site has been built with open source technologies, coded on an open source editor, tested on an open source browser, all running on an open source operating system.
      </p1>
      <br>
      <p2>
        To be more specific on my technical abilities I create android apps, participate in UI/UX stuff, write backend codes, build static-sites and occasionally find linux workarounds for regular stuff.
      </p2>
      <br><br>
      <p3>
        I also love debates and discussions because they help you know more and the different viewpoints that they tend to bring out. To describe myself in a line would be <strong><i>`somebody who believes in using skills to solve existing problems`</i></strong>.
      </p3>
    </div>
  </body>
</html>
